<div style="align-content: center; align-items: center; text-align: center">
    <hr/>
    <a href="https://www.buymeacoffee.com/SeanKilleen" target="_blank"><img src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png" alt="Buy Me A Coffee" style="height: auto !important;width: auto !important;" ></a>
    <h4>Did this article help you?</h4></h4>
    <p>I'd be grateful if you'd be willing to <a href="http://buymeacoff.ee/SeanKilleen" target="_blank">buy me a coffee.</a></p>
    <hr/>
</div>
