<tr>
    <td>{% if include.sessionLink %}<a href="{{ include.sessionLink }}">{{ include.title }}</a>{% else %}{{ include.title }}{% endif %} <br/>{% if include.slidesLink %}<a href="{{include.slidesLink}}" title="Slides" target="_blank"><i class="fas fa-desktop"></i></a>{% endif %}{% if include.codeLink %} <a href="{{include.codeLink}}" title="Code" target="_blank"><i class="fas fa-code"></i></a>{% endif %}{% if include.videoLink %} <a href="{{include.videoLink}}" title="Video" target="_blank"><i class="fas fa-video"></i></a>{% endif %}</td>
    <td>{{ include.date | date: "%b %d, %Y" }}</td>
    <td>{% if include.eventLink %} <a href="{{ include.eventLink }}">{{ include.group }}</a>{% else %}{{ include.group }}{% endif %} ({{ include.location }})</td>
    <td>{{ include.description }}</td>
</tr>
