// Custom overrides


@media only screen and (min-width: 600px) {
    article.page {
        padding-right: 100px;
    }
}

// accessibility improvements suggested by pa11y
$darker-contrast-color: #74777a;

.pagination li a {
    color: $darker-contrast-color;
}

p.page__meta {
    color: $darker-contrast-color;
}

.pagination>ul>li>a.disabled {
    color: $darker-contrast-color;
}

footer>p {
    color: $darker-contrast-color;
}

.pagination--pager,
.pagination--pager.disabled {
    color: $darker-contrast-color;
}

.author__urls-wrapper {
    z-index: 101; // hack to make sure the follow links are on top of the carbon ads
}