---
sitemap: false
---

/*
 *
 *  Minimal Mistakes
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "grid";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "page";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
//@import "vendor/google/fonts";
  
 .alert {
	background-color: #d9edf7;
	border:2px #bce8f1;
	color: #3a87ad
  }

 .alert-info {
 	margin: 20px auto;
 	padding: 8px;
 }